<div class="home">
  <main class="main-content">
    <div class="welcome-message">
   </div>

   <div class="contenedor">
    <!-- Barra lateral izquierda: Perfil y Navegación -->
    <div class="barra-lateral">
      <div class="perfil">
        <img src="perfil.jpg" alt="Foto de Perfil" class="foto-perfil"> <!-- Imagen de perfil -->
        <h2>name user </h2> <!-- Nombre del usuario -->
        <p>Exmpleauraseguro.com</p> <!-- Puesto del usuario -->
      </div>
        <button claas=" btn-contraseña"> Cambiar contraseña</button>
      </div>
    </div>
